* {
    box-sizing: content-box;
}

body, html {
    height: 100%;
    margin: 0;
    background: rgb(145,139,255);
    background: linear-gradient(120deg, rgba(145,139,255,1) 48%, rgba(87,242,49,1) 92%, rgba(0,212,255,1) 100%);
    font-family: Verdana, serif;
    font-size: 16px;
    color: #343434;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 800px) {
    .wrapper {
        margin: 0;
        width: 100%;
        align-items: start;
    }
}

.container {
    height: 60%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid darkgray;
    background: rgb(203,201,250);
    background: linear-gradient(253deg, rgba(203,201,250,1) 0%, rgba(205,255,193,1) 44%, rgba(118,230,252,1) 100%);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .container {
        height: 100%;
    }
}

.container h1 {
    text-align: center;
}

#list {
    overflow-y: auto;
    flex: 1 auto;
    list-style-type: none;
    padding-left: 5px;
}

#list .username {
    font-weight: bold;
}

#form {
    display: flex;
    flex-direction: row;
}

#form * {
    margin: 5px;
    border-radius: 5px;
    height: 20px;
}

#message {
    flex: 1 auto;
}

#username {
    width: 150px;
}

@media screen and (max-width: 800px) {
    #username {
        width: 50px;
    }
}
